.Rproj.user
.Rhistory
.RData
.Ruserdata
.rds
full.gls.exp.rds
gls.exp1.rds
gls.exp2.rds
gls.exp3.rds
gls.exp4.rds
gls.exp5.rds
gls.exp6.rds
gls.exp7.rds
gls.exp8.rds
gls.exp9.rds
Infrastructure_sel.rds
Infrastructure_Best.rds
